*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.card{
    border-radius: 25px;
    background-color: #fff;
}
.cards .card .content .img{
    height: 130px;
    width: 130px;
}

.card .content .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card .content .details .name{
    font-size: 20px;
    font-weight: 500;

}
.card .content .details .depart{
    font-size: 20px;
    color: blueviolet;
}
.card .content .description{
    display: flex;
    text-align: center;
    justify-content: center;
}