p{
    font-size: 16px;
}
.a{
    margin-top: 6px;
    margin-bottom: 6px;
}
.b{
    font-weight: bold;
}
.c{
    color: gray;
}
.d{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 450px;
}
.e{
    margin-top: 0px;
}
.f{
color: rgb(95, 146, 201);
}