.Tweet{
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    margin-left: 8px;
    border-radius: 18px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
     transition: box-shadows 0.15s;
    vertical-align: top;}
.Tweet:hover
        {
           box-shadow:5px 5px 10px rgba(0,0,0,0.1);
        }
