
button{
    font-size: 16px;
    padding-left:10px ;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right:10px ;
    color: white;
    background-color: rgb(51, 146, 51);
    cursor: pointer;
    transition: padding-left 0.7s,
    padding-top 0.7s,
    padding-bottom 0.7s,
    padding-right 0.7s;

}
button:hover{
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 18px;}