p{
    background-color: blanchedalmond;
}
button{
    background-color: antiquewhite;
}
div{
    background-color: aqua;
}
a{
    background-color: brown;
}
span{
    background-color: rgb(246, 66, 246);
}
ol{
    background-color: khaki;
}
h1{
    background-color: darkblue;
}
label{
    background-color: saddlebrown;
}
input{
    background-color: salmon;
}